@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* In your src/index.css or any global CSS file */
@font-face {
  font-family: 'hackerFont';
  src: url('./font/hackerFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.navbar {
  background-color: rgb(0, 87, 248);
  background-image: linear-gradient(to right, #ffffff, #9c9c9c); /* Removed quotes */
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  font-family: 'Montserrat', sans-serif; /* Added fallback font */
  position: sticky;
  z-index: 999;
  gap: 70px;
  overflow: clip;
  border-radius: 5px;
  border: 4px solid black;

}

.logo {
  right: 19%;
  height: 70px;
  width: 350px;
  margin-right: 0;
  margin-left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #282c34; /* Added border width and style */
  border-radius: 20px;
  position: relative;
}

.navbartext {
  color: white;
  text-decoration: none; /* Added to remove underline from links */
  transition: all 0.3s ease;
  font-weight: bold;
}

.navbartextnh {
  color: white;
  text-decoration: none; /* Added to remove underline from links */
  transition: all 0.3s ease;
  font-weight: bold;
}
.navbartext:hover {
  transform: scale(1.1);
}

.frame {
  background-color: black; /* Removed quotes */
  padding: 20px; /* Added padding for better spacing */
  border-radius: 10px; /* Added border radius */
  transition: box-shadow 0.3s ease; /* Smooth transition for box shadow */
}

.frame:hover {
  box-shadow: 5px 5px 15px rgba(255, 255, 251, 0.8); /* Adjusted shadow opacity */
}

@media (max-width: 768px) {
  .navbar {
    gap: 20px;
    font-size: 1.2rem;
  }
  .logo {
    width: 200px;
    left: 0;
  }
}

body {
  font-family: 'Montserrat', sans-serif;
}