.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* In your src/index.css or any global CSS file */
@font-face {
  font-family: 'hackerFont';
  src: url('./font/hackerFont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.navbar {
  background-color: black; /* No quotes around color */
  height: 80px; /* No quotes around numbers */
  display: flex; /* No quotes */
  justify-content: center; /* No quotes */
  align-items: center; /* No quotes */
  font-size: 2.2rem; /* No quotes */
  position: sticky; /* No quotes */
  top: 0px; /* No quotes */
  z-index: 999; /* No quotes */
  gap: 60px;
}

